<section class="section">
  <div class="container">
    <button (click)="generateDog()"
      class="button is-rounded is-info is-large hvr-wobble-horizontal hvr-box-shadow-inset">
      Fetch Doggo!
    </button>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="picture">
      <figure class="image">
        <img [src]="dogData.message" />
      </figure>
    </div>
    <!-- <div class="quote">
      <p class="title is-3">"This is an inspirational quote."</p>
    </div> -->
  </div>
</section>