<section class="section">
  <div class="container">
    <button (click)="generateDog()"
      class="button is-rounded is-info is-large hvr-wobble-horizontal hvr-box-shadow-inset">
      Fetch Doggo!
    </button>
  </div>
</section>

<div *ngIf="errorStatus">
  <p style="text-align: center;">Oh no! We couldn't fetch a doggo, here's a picture of a corgi instead!</p>
  <div class="picture">
    <figure class="image">
      <img src="../../assets/corgi.jpg">
    </figure>
  </div>
</div>

<app-body-container [dogData]="dogData"></app-body-container>